<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-bottom"
    style="background-color: white !important; box-shadow: 0px -2px 25px rgba(0, 0, 0, 0.06);">
    <div class="container">
        <div class="row w-100">
            <div class="col-3">
                <a class="nav-link text-light text-center" style="font-size: 26px;" href="/">
                    <img id="home-nav" src="../assets/images/linear.svg" alt="">
                </a>
            </div>
            <div class="col-3">
                <a class="nav-link text-light text-center" style="font-size: 26px;" href="/page/wallet.html">
                    <img id="wallet-nav" src="../assets/images/wallet_nav.svg" alt="">
                </a>
            </div>
            <div class="col-3">
                <a class="nav-link text-light text-center" style="font-size: 26px;"
                    href="http://127.0.0.1:5500/page/statistic.html">
                    <img id="statistic-nav" src="../assets/images/analysis_nav.svg" alt="">

                </a>
            </div>
            <div class="col-3">
                <a class="nav-link text-light text-center" style="font-size: 26px;" href="/page/setting.html">
                    <img id="user-nav" src="../assets/images/user_nav.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</nav>