<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <div class="row w-100">
            <div class="col-3">
                <a class="nav-link text-light text-center" style="font-size: 26px;" href="/">
                    <i class="fa-solid fa-house"></i>
                </a>
            </div>
            <div class="col-3">
                <a class="nav-link text-light text-center" style="font-size: 26px;" href="/page/wallet.html">
                    <i class="fa-solid fa-wallet"></i>
                </a>
            </div>
            <div class="col-3">
                <a class="nav-link text-light text-center" style="font-size: 26px;" href="http://127.0.0.1:5500/page/statistic.html">
                    <i class="fa-solid fa-chart-pie"></i>
                </a>
            </div>
            <div class="col-3">
                <a class="nav-link text-light text-center" style="font-size: 26px;" href="/page/setting.html">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
